.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    align-items: center;
    overflow: hidden;
}

.slide-track{
    display: flex;
    width: calc(250*18);
    animation: scroll 40s linear infinite;

}
.slide-track:hover{
     animation-play-state: paused;

}

.slide{
  
    width: 250px;
     display: flex;
     align-items: center;
     padding: 15px;
     perspective: 100px;

}

@keyframes scroll{
    0%{
        transform: translateX(0);

    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}